@charset "UTF-8";

// Mixins
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/transitions";


span{
    display: inline-block;
    margin: 0.5em;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}

.selected{
    background-color:red;
    color: #000;
}